*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --ff-title: 'Quicksand', sans-serif;
    --ff-text: 'Open Sans Condensed', sans-serif;
    --board-width: 24em;
}

body {
    height: 100vh;
    font-family: var(--ff-title);
    font-weight: 300;
    font-size: 1em;
    display: flex;
    flex-flow: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center--column {
    flex-flow: column;
}

.btn-simple {
    appearance: none;
    cursor: pointer;
    font-family: var(--ff-title);
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 0.15em .75em;
    letter-spacing: .1rem;
    transition: transform 300ms ease-in;
}

.btn-simple:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.85);
}

header{
    font-weight: 500;
    font-size: 3.75em;
    padding: .75rem 0.5em;
    width: 100%;
}

.input {
    font-family: var(--ff-text);
    font-size: 2em;
    gap: .5rem;
}

main.center {
    width: 100%;
    height: 100%;
    padding: 3em;
    border: 1px solid black;
    min-width: 340px;
    justify-content: space-around;
    gap: .6rem;
}

.scoreboard {
    font-size: 2.35em;
    font-family: var(--ff-title);
    font-weight: 500;
    row-gap: 1.25rem;
}

.center.scoreboard--counter{
    font-size: 0.85em;
    font-family: var(--ff-text);
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
}

.center.scoreboard--counter span {
    justify-self: center;
    margin: 0 2.5rem;
    font-size: 1.75em;
    font-weight: 700;
}
.player2 {
    justify-self: end;
}
.center.center--board {
    width: 60%;
    justify-content: space-around;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    width: var(--board-width);
    height: auto;
    position: relative;
}

#board div {
    border: 1px solid black;
    width: calc(var(--board-width) / 3);
    height: calc(var(--board-width) / 3);
}

#board div:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

#board .overlay {
    display: none;
    position: absolute;
    width: 101%;
    left: -2px;
    top: -1px;
    height: 101%;
    border: none;
    backdrop-filter: blur(2px);
    z-index: 100;
    opacity: .9;
    border-radius: 2px;
}

.overlay h3 {
    background-color: black;
    font-size: 2em;
    color: white;
    padding: .75em;
    border-radius: 4px;
}

.circle {
    z-index: -1;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    border: 0.6em solid black;
}

.cross {
    z-index: -1;
    width: 6em;
    height: 6em;
    position: relative;
}

.cross::before, .cross::after {
    position: absolute;
    content: ' ';
    height: 6em;
    width: 0.65em;
    top: 0;
    right: 45%;
    background-color: black;
  }
  .cross::before {
    transform: rotate(45deg);
  }
  .cross::after {
    transform: rotate(-45deg);
  }

.buttons {
    gap: 1rem;
}

footer {
    font-size: 0.85rem;
    font-family: var(--ff-text);
    width: 100%;
    padding: 1.15em;
    margin-top: auto;
}

@media only screen and (max-height: 800px) {
    body {
      font-size: 0.7em;
    }
    .scoreboard {
        row-gap: .75rem;
    }
  }
