*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --ff-title: 'Quicksand', sans-serif;
    --ff-text: 'Open Sans Condensed', sans-serif;
    --board-width: 24em;

    --clr-bg-dk: #284b63;
    --clr-bg-lt: #e5e5e5;
    --clr-bg-ltst: #f8f9fa;

    --clr-base-dk: #14213d;
    --clr-base-lt: #2c7da0;

    --clr-ntrl-min: #fff;
}

body {
    height: 100vh;
    font-family: var(--ff-title);
    font-weight: 300;
    font-size: 1em;
    display: flex;
    flex-flow: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center--column {
    flex-flow: column;
}

.btn-simple {
    appearance: none;
    cursor: pointer;
    font-family: var(--ff-title);
    border: none;
    border-radius: 3px;
    background-color: var(--clr-bg-dk);
    color: var(--clr-ntrl-min);
    font-weight: 600;
    font-size: 1.15rem;
    padding: 0.15em .75em;
    letter-spacing: .1rem;
    transition: transform 200ms ease-in;
}

.btn-simple:hover {
    transform: scale(1.05);
    background-color: var(--clr-base-dk);
}

header{
    font-weight: 500;
    font-size: 4.75em;
    padding: .75rem 1em;
    width: 100%;
    background-color: var(--clr-bg-dk);
    color: var(--clr-ntrl-min);
}

main.center {
    width: 100%;
    height: 100%;
    padding: 1em;
    min-width: 340px;
    justify-content: space-around;
    gap: .6rem;
    background-color: var(--clr-bg-ltst);
}

.scoreboard {
    font-size: 2.65em;
    font-family: var(--ff-title);
    font-weight: 500;
    row-gap: 1.25rem;
    color: var(--clr-base-dk);
}

.center.scoreboard--counter{
    font-size: 0.85em;
    font-family: var(--ff-title);
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 7.5rem 7.5rem 1fr;
}

.center.scoreboard--counter span {
    justify-self: center;
    margin: 0 2.5rem;
    font-size: 1.75em;
    font-weight: 700;
}

.fa-pencil-square-o {
    font-size: .4em;
    margin: 0 1rem;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
    align-self: flex-end;
    margin-bottom: 1rem;
    color: var(--clr-base-dk);
}

.fa-pencil-square-o:hover {
    color: var(--clr-base-lt);
}

.player2, .player1 {
    justify-self: center;
    margin: 0 3.5rem;
}
.player1 .circle {
    height: 1em;
    width: 1em;
    border: .4rem solid ;
    margin-left: 3rem;
}

.fa.fa-close {
    font-size: 1.25em;
    margin-right: 3rem;
    color: var(--clr-base-dk);
}

.input {
    font-family: var(--ff-text);
    gap: .4rem;
    font-size: 1.5em;
    position: relative;
}

.input-popup {
    box-sizing: content-box;
    position: absolute;
    top: 130%;
    border: 3px solid var(--clr-base-dk);
    border-radius: 5px;
    padding: 1rem 1.75rem;
    gap: 1rem;
    z-index: 100;
    background-color: var(--clr-bg-ltst);
    transform: scale(0);
    transition: transform 300ms ease-in-out;
    transform-origin: top center;
}

#player1-input {
    left: -2rem;
}

#player2-input {
    right: -2rem;
}

.displayOn {
    transform: scale(1);
}

.input-popup input[type="text"]{
    font-size: 1.1rem;
    font-family: var(--ff-text);
    letter-spacing: 1.5px;
    border-radius: 7px;
    outline: none;
    border: 2px solid var(--clr-bg-lt);
    color: var(--clr-base-dk);
    font-weight: 700;
    padding: .25em .6em;
}

.input-popup input[type="text"]:focus {
    outline-offset: 0;
    border: 2px solid var(--clr-base-dk);
}

.buttons {
    gap: 1rem;
}

.center.center--board {
    width: 60%;
    justify-content: space-around;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid var(--clr-base-dk);
    width: var(--board-width);
    height: auto;
    position: relative;
    background-color: var(--clr-bg-ltst);
    border: 1px solid var(--clr-base-dk);
}

#board div {
    border: 1px solid var(--clr-base-dk);
    width: calc(var(--board-width) / 3);
    height: calc(var(--board-width) / 3);
}

#board div:hover{
    background-color: var(--clr-ntrl-min);
} 

.overlay {
    display: none;
    position: absolute;
    width: 101%;
    left: -2px;
    top: -1px;
    height: 101%;
    border: none;
    backdrop-filter: blur(2px);
    z-index: 10;
    opacity: .95;
    border-radius: 3px;
}

.overlay h3 {
    background-color: var(--clr-base-dk);
    min-width: 35%;
    text-align: center;
    font-size: 2em;
    color: var(--clr-bg-ltst);
    padding: .75em;
    border-radius: 4px;
}

.circle {
    z-index: 1;
    border-radius: 50%;
    height: 6em;
    width: 6em;
    border: 0.6em solid var(--clr-base-dk);
}

.cross {
    z-index: 1;
    width: 6em;
    height: 6em;
    position: relative;
}

.cross::before, .cross::after {
    position: absolute;
    content: ' ';
    height: 6em;
    width: 0.65em;
    top: 0;
    right: 45%;
    background-color: var(--clr-base-dk);
  }
  .cross::before {
    transform: rotate(45deg);
  }
  .cross::after {
    transform: rotate(-45deg);
  }

#reset-btn {
    font-size: 1.75em;
}

footer {
    font-size: 0.85rem;
    font-family: var(--ff-text);
    width: 100%;
    background-color: var(--clr-bg-ltst);
    border-top: 1px solid var(--clr-base-dk) ;
    color: var(--clr-base-dk);
    padding: 1rem;
    margin-top: auto;
}

@media only screen and (max-height: 800px) {
    body {
      font-size: 0.7em;
    }
    .scoreboard {
        row-gap: .75rem;
    }
  }
